*{
  
  padding: 4px;
  min-height: max-content;

}



@media (prefers-reduced-motion: no-preference) {

.barra{
  background-color: greenyellow;
width: 100%;
}

.logo{
  animation: App-logo-spin infinite 20s linear;
height: 10vmin;
pointer-events: none;
border-radius: 100%;
object-fit: cover;

}

}


.card{
flex-direction: column;
align-items:center;
border: 9px black;
justify-content: center;
display: flex;
font-size: calc(10px + 2vmin);
float:left;
margin: 10px 20px;
box-shadow: 0 2px 4px 0 black, 0 3px 10px 0 black;
width: 25%;
height: 40%;

}

.imagen2{
  height: 400px;
  width: 300px;
  text-align: left;
  object-fit: cover;
}


.dos{
height: 50%;
width: 60%;
text-align:left;
object-fit: cover;
}